* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    /*background-color: red;*/
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    height: 100vh;
    margin: auto;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 630px;
    background: #6491735e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DBD5A4, #64917362), url(../img/cimg1.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD5A4, #64917367), url(../img/cimg1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


header .contenedorHeader{
    /*background-color: green;*/
    display: flex;
    flex-wrap: wrap;
    /*height: 580px;*/
    width: 100%;
    /*Centra contenedores y el texto*/
    justify-content: center;
    /*Se asigna un valor 100 vh a la altura
    para que el contenedor puea cortar al tamaño de las cajas
    con flex-start*/
    height: 100vh;
    align-items: flex-start;
}

/*flex item*/
.contenedorHeader__izquierda{
    /*background-color: red;*/
    
    width: 50%;
    padding: 2%;
    text-align: center;
    /*Alineo este contenedor al centro*/
    align-self: center;
}

.contenedorHeader__derecha{
    /* background-color: blue;*/
    padding: 10px;
    width: 50%;
    /*Alineo solo este contenedor al final*/
    align-self: flex-end;
    text-align: center;
}

.contenedorHeader h1{
    font-size: 60px;
    color:#183e7c;
    letter-spacing: 40px;
}

.contenedorHeader p{
    font-size: 20px;
    color:#183e7c;
}

.contenedorHeader h2{
    font-size: 35px;
    color:#183e7c;

}

.contenedorHeader h3{
    font-size: 20px;
    color:#183e7c;

}

/* Empatia */

main .empatia{
   /* background-color: hotpink;*/
    padding: 6px 0 6px 0;
    display: block;
    height: 1000px;
    width: 100vw;
}
.caja1{
    /*background-color: blue;*/
    height: 52%;
    display: flex;
    flex-flow: row-reverse;
    margin-bottom: 5px;
}

.himgS1 {
width: 20%;
height: 70%;
margin: 40px 0 0 0;
}

.caja1__texto{
    align-self: flex-start;
    padding: 20px;
    margin: 20px 70px 0 0;
    background-color: #183e7c;
    width: 500px;
    height: 425px;
}
.caja1__texto > h1{
    font-size: 30px;
    color: #f8f9fb;
}

.caja1__texto > p{
    font-size: 15px;
    color: #f8f9fb;
}




.caja2{
   /* background-color: teal;*/
    display: flex;
    height: 48%;
    margin-bottom: 5px;
}

.himgS2 {
    width: 20%;
    height: 70%;
    margin: 80px -20px 0 0;
    }
    
.caja2__texto{
    align-self: flex-start;
    padding: 20px;
    margin: 20px 0 0 100px;
    background-color: #c1d1de;
    width: 400px;
    height: 325px;
    }

.caja2__texto > h1{
    color: #183e7c
}

.caja2__texto > p{
    color: #183e7c;
}

.caja3{
    background: #183e7c;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.caja3 > h1{
    color: #e5c700;
}
.caja3 > p{
    color: #f8f9fb;
}

/* xoco */

.xoco{
    margin: 20px;
    /*background-color: blue;*/
    height: 52%;
    display: flex;
    flex-flow: row-reverse;
    margin-bottom: 5px;
}

.xocoImg {
margin: 10px -10px 0 0;
height: 50%;
}

.xoco__caja--texto{
    align-self: flex-start;
    padding: 20px;
    margin: 20px 70px 0 0;
    background-color: #c1d1de;
    width: 700px;
    height: 400px;
}
.xoco__caja--texto > h1{
    font-size: 40px;
    color: #183e7c;
    text-align: center;
}

.xoco__caja--texto> p{
    padding: 25px;
    font-size: 20px;
    color: #183e7c;
}

/*  Our team */

.metodo{
    background: red;
    padding-bottom: 30px;
    display: block;
    height: 1000px;
    flex-wrap: wrap;
}

.cajaMetodo{
    display:block;
    padding: 3%;
    width: 100%;
    height: 35%;
    background-color: #183e7c;

}

.cajaMetodo > h1{
    text-align: center;
    font-size: 60px;
    color:#f8f9fb;
}
.cajaMetodo > p{
    padding: 1%;
    color: #f8f9fb;
}

.cajaSemanas{
    display: block;
    padding: 3%;
    width: 100%;
    height: 35%;
    background-color: #f8f9fb;
}

.cajaSemanas > h1{
    color: #183e7c;
    text-align: center;
}

.cajaSemanas > h2{
    color: #183e7c;
    text-align: center;
}
.lista1{
    padding: 4%;
    color: #183e7c;
}

.cajaAyuda{
    display: block;
    padding: 3%;
    width: 100%;
    height: 35%;
    background-color: #c1d1de;
}

.cajaAyuda > h1{
    color: #183e7c;
    text-align: center;
}

.lista{
    padding: 4%;
    color: #183e7c;
}
/* footer */

footer{
    background: #183e7c;
    padding: 60px 0 30px 0;
    overflow: hidden;
    margin:0px;
}

.contenedor-footer{
    display: block;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.contenedor-footer > h1{
    color: #e5c700;
    text-align: center;
}
.contenedor-footer > p{
    color:#f8f9fb ;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

