

@media screen and (max-width: 1920px) and (min-width: 601px) {
  
  /*General*/
  i {
    font-size: 2vw;
    color: #183e7c;
  }

  h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
  }

  p{
    font-family: Arial, Helvetica, sans-serif;
  }

  /*Cabecera*/
  
  .cabecera {
    display: flex;
    flex-direction: row;
    height: 82vh;
    width: 100vw;
    background-image: url(../img/portada.png);
    background-repeat: no-repeat;
    background-size: cover;

  }
  .c-contenedorIzq_desk{
    width: 50vw;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .dc-left1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .c-contenedorDer_desk {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 50vw;
    height: 82vh;
    font-size: 1.5vw;
    color: #f8f9fb;
  }

  /*Cabecera texto*/

  .cci-Parrafo {
    font-size: 1.6vw;
    line-height: 2vw;
    color: #f8f9fb;
    padding-left: 2vw;
  }

  .cci-titulo {
    font-size: 7.5vw;
    color: #f8f9fb;
    font-weight: bold;
    letter-spacing: .2vw;
    line-height: 6vw;
    text-align: center;
  }

  /*Empatia*/

  .empatia {
    height: 370vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .e-primerContenedor_desk {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
  }

  .ep-texto_desk {
    width: 60vw;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18vw;
    padding-right: 3vw;
    position: relative;
    background-color: #183e7c;
    left: 30vw;
    top: 4vh;
  }

  .ep-imagen_desk {
    background-image: url(../img/img1.jpg);
    background-size: 210%;
    background-position: 20% 63%;
    width: 40vw;
    height: 65vh;
    position: relative;
    right: 54vw;
    top: 10vh;
  }

  .e-segundoContenedor_desk {
    height: 100vh;
    width: 100vw;
    display: flex;
  }

  .es-texto_desk {
    width: 52vw;
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c1d1de;
    position: relative;
    left: 12vw;
    top: 9vh;
    padding-left: 5vw;
    padding-right: 10vw;
  }

  .es-imagen_desk {
    width: 34vw;
    height: 60vh;
    background-image: url(../img/img2.jpg);
    position: relative;
    top: 17vh;
    left: 5vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }

  .e-terceroContenedor_desk {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #183e7c;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .e-cuartoContenedor_desk {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row-reverse;
  }

  .ec-texto_desk {
    width: 58vw;
    height: 60vh;
    background-color: #c1d1de;
    position: relative;
    right: 5vw;
    top: 18vh;
    padding: 14vh 6vw 2vh 8vw;
  }

  .ec-imagen_desk {
    background-image: url(../img/img3.png);
    width: 28vw;
    height: 42vh;
    position: relative;
    background-size: cover;
    background-position: right;
    top: 16vh;
  }

  /*Empatia Texto*/
  .ept-tituloBlanco{
    font-size: 3vw;
    color: #f8f9fb;
  }

  .est-tituloAzul {
    color: #183e7c;
    font-size: 3vw;
    text-align: right;
}

.et-tituloDorado {
  color: #e5c700;
  font-size: 4.5vw;
}

.ect-tituloAzul {
  color: #183e7c;
  font-size: 3vw;
}
  .ept-parrafoBlanco{
    font-size: 1.7vw;
    color: #f8f9fb;
  }

  .est-parrafoAzul {
    color: #183e7c;
    font-size: 1.5vw;
    text-align: right;
  }

  .ect-parrafoAzul {
    color: #183e7c;
    font-size: 1.5vw;
  }

  .et-parrafoBlanco {
    color:#c1d1de;
    font-size: 2.5vw;
  }




  /*Mi metodo*/

  .miMetodo {
    width: 100vw;
    height: 305vh;
    display: flex;
    flex-direction: column;
  }

  .m-primerContenedor_desk {
    width: 100vw;
    height: 90vh;
    padding:4vw;
    display: flex;
    flex-direction: column;
    background-color: #183e7c;
    justify-content: center;
  }

  .m-segundoContenedor_desk {
    width: 100vw;
    height: 70vh;
    padding:4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f9fb;
    
  }

  .m-terceroContenedor_desk {
    width: 100vw;
    height: 85vh;
    background-color: #c1d1de;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vw;

  }


   
  .m-cuartoContenedor_desk {
    width: 100vw;
    height: 60vh;
    padding:4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #183e7c;
    text-align: center;
    
  }




/*Mi metodo Textos*/
.mp-tituloBlanco{
  font-size: 4.5vw;
  color: #f8f9fb;
  text-align: center;
}

.mp-parrafoBlanco{
  color: #f8f9fb;
  font-size: 1.9vw;
}

.mp-tituloAzul{
  color: #183e7c;
  font-size: 4.5vw;
  text-align: center;
}

.mp-parrafoAzul{
  color: #183e7c;
  font-size: 1.9vw;
}

.mp-tituloDorado{
  color: #e5c700;
  font-size: 4.5vw;
  text-align: center;
}

.mp-parrafoAzul_lista{
  color: #183e7c;
  font-size: 1.9vw;
  margin-top: 4vw;
}
























/**/

  .contactofb {
    color: white;
    font-size: 5vw;
  }
 



  .pAzulclaro {
    color: #c1d1de;
    font-size: 1.5vw;
  }



 
  p{
    font-family: Arial;
  }



  .centraT {
    text-align: center;
  }

  button{
    text-align: center;
    border: none;
    background-color: #e5c700;
    width: 26vw;
    height: 12vh;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: #f8f9fb;
    font-size: 3.5vw;
  }
  .subTitulo{
    color: #183e7c;
    font-size: 2.2vw;
  }

 


  .dcl1-ParrafoP {
    font-size: 1.6vw;
    color: #f8f9fb;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
  }




  .dc-left{
    padding-top: 1vh;
  }




  .cPresentacion{
    width: 25vw;
    margin-left: 31vw;
    text-align: center;
    
  }





















  footer {
    width: 100vw;
    height: 10vh;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
  }
}
