@media screen and (max-width: 600px) and (min-width: 350px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 640px;
  }

  .cabecera {
    width: 100vw;
    height: 80vh;
    padding: 1vw 2vw 2vw;
    display: flex;
    flex-direction: column;
    background-color: red;
    background: #6491735e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dbd5a454, #64917341),
      url(../img/himg3.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dbd5a469, #64917367),
      url(../img/himg3.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    position: relative;
  }
  .cTexto1 {
    width: 100vw;
    height: 60vh;
    text-align: center;
    padding-top: 5vw;
  }
  .cTexto2 {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    
  }

  .botonTest {
    margin-top: 10%;
  }
  .cTitulo {
    color: #183e7c;
    font-size: 29px;
  }

  .cSubTitulo {
    color: #183e7c;
    font-size: 20px;
  }

  .cParrafo {
    color: #f8f9fb;
    font-size: 13px;
  }

  .eTitulos {
    font-size: 5vw;
  }
  .tituloDorado {
    color: #e5c700;
    font-size: 8vw;
  }

  .parrafoBlanco {
    color: #f8f9fb;
    font-size: 3vw;
  }

  .empatia {
    width: 100vw;
    height: 350vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
  }

  .eContenedores {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .eTercero {
    width: 100vw;
    height: 50vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #183e7c;
    padding: 5vw;
    overflow: hidden;
  }

  .epTexto {
    margin-top: 3vh;
    height: 70vh;
    width: 80vw;
    background-color: #183e7c;
    font-size: 3vw;
    color: #f8f9fb;
    padding: 2vw 2vw 2vw;
  }

  .epImg {
    margin-bottom: 3vh;
    height: 70vh;
    width: 80vw;
    background-image: url(../img/eImg1.jpg);
    background-attachment: fixed;
    position: relative;
  }

  .esTexto {
    margin-top: 10vh;
    height: 70vh;
    width: 80vw;
    background-color: #c1d1de;
    font-size: 2.5vw;
    color: #183e7c;
    padding: 20vw 5vw 20vw;
  }

  .esImg {
    margin-bottom: 3vh;
    height: 70vh;
    width: 80vw;
    background-image: url(../img/himg2.jpg);
    background-attachment: fixed;
    position: relative;
  }

  .ecTexto {
    margin-top: 10vh;
    height: 70vh;
    width: 80vw;
    background-color: #c1d1de;
    font-size: 2.5vw;
    color: #183e7c;
    padding: 20vw 5vw 20vw;
  }

  .ecImg {
    margin-bottom: 3vh;
    height: 70vh;
    width: 80vw;
    background-image: url(../img/himg2.jpg);
    background-attachment: fixed;
    position: relative;
  }

  .margenTop {
    margin-top: 5vh;
  }
  .centrado {
    text-align: center;
  }

  .miMetodo {
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
  }

  .mContenedor1 {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: #183e7c;
    color: #f8f9fb;
    padding: 2vw;
  }

  .mContenedor2 {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    color: #183e7c;
    background-color: #f8f9fb;
    padding: 5vw 2vw 5vw;
  }

  .mContenedor3 {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    color: #183e7c;
    background-color: #c1d1de;
    padding: 2vw;
  }

  .mContenedor4 {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    color: #f8f9fb;
    background-color: #183e7c;
    padding: 5vw;
    text-align: center;
  }

  .grande {
    font-size: 8vw;
  }
  i {
    font-size: 3vw;
    color: darkgray;
  }
  footer {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
  }

  .pBlanco {
    font-size: 3vw;
  }
  .pAzul {
    margin-top: -1vw;
    font-size: 3vw;
  }
  .pAzul {
    font-size: 3vw;
  }
}

@media screen and (max-width: 1920px) and (min-width: 601px) {
  i {
    font-size: 2vw;
    color: #183e7c;
  }

  h1{
    font-family: 'Nunito Sans', sans-serif;
  }

  .contactofb {
    color: white;
    font-size: 5vw;
  }
  .pAzul {
    color: #183e7c;
    font-size: 1.5vw;
  }

  .pBlanco {
    color: #f8f9fb;
    font-size: 1.5vw;
  }

  .pAzulclaro {
    color: #c1d1de;
    font-size: 1.5vw;
  }

  .tDorado {
    color: #e5c700;
    font-size: 2.5vw;
  }

  .tBlanco {
    color: #f8f9fb;
    font-size: 2.5vw;
  }

  .tAzul {
    color: #183e7c;
    font-size: 2.5vw;
  }

  .tituloH {
    font-size: 4vw;
    color: #f8f9fb;
  }

  .centraT {
    text-align: center;
  }

  .centro {
    text-align: center;
  }

  .alineaLista {
    padding-top: 1%;
    padding-left: 25%;
  }

  .pCabecera1 {
    margin-top: -2vw;
    font-size: 1.5vw;
    color: #f8f9fb;
  }

  .pCabecera {
    font-size: 1.5vw;
    color: #f8f9fb;
  }
  .cabecera {
    display: flex;
    flex-direction: row;
    height: 82vh;
    width: 100vw;
    background-image: url(../img/portada.png);
    background-repeat: no-repeat;
    background-size: cover;

  }

  img{
  }

  .leftC {
    height: 82vh;
    width: 50vw;
    padding: 2.5vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
  }

  .rightC {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 82vh;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 2vw;
    color: #f8f9fb;
    
  }

  .empatia {
    height: 370vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .primeroE {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
  }

  .conText1 {
    width: 60vw;
    height: 86vh;
    padding-left: 18vw;
    padding-right: 2vw;
    padding-top: 5vh;
    padding-bottom: 7vh;
    position: relative;
    background-color: #183e7c;
    left: 30vw;
    top: 4vh;
  }

  .eImg1 {
    background-image: url(../img/img1.jpg);
    background-size: 210%;
    background-position: 20% 63%;
    width: 35vw;
    height: 74vh;
    position: relative;
    right: 50vw;
    top: 10vh;
  }

  .segundoE {
    height: 100vh;
    width: 100vw;
    display: flex;
  }

  .conText2 {
    width: 52vw;
    height: 72vh;
    background-color: #c1d1de;
    position: relative;
    left: 12vw;
    top: 9vh;
    padding: 14vh 8vw 5vh 4vw;
  }

  .eImg2 {
    width: 28vw;
    height: 60vh;
    background-image: url(../img/img2.jpg);
    position: relative;
    top: 17vh;
    left: 5vw;
    background-size: 148%;
    background-position: 60% 80%;
  }

  .terceroE {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #183e7c;
    padding: 7%;
    text-align: center;
  }

  .cuartoE {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row-reverse;
  }

  .conText4 {
    width: 58vw;
    height: 60vh;
    background-color: #c1d1de;
    position: relative;
    right: 5vw;
    top: 18vh;
    padding-left: 7%;
    padding-top: 4%;
    padding-right: 2%;
  }

  .conImgX {
    background-image: url(../img/img3.png);
    width: 28vw;
    height: 42vh;
    position: relative;
    background-size: 150%;
    background-position: 80% 20%;
    top: 16vh;
  }

  .miMetodo {
    width: 100vw;
    height: 255vh;
    display: flex;
    flex-direction: column;
  }

  .primeroM {
    width: 100vw;
    height: 70vh;
    background-color: #183e7c;
    text-align: center;
    padding: 5%;
  }

  .segundoM {
    width: 100vw;
    height: 60vh;
    background-color: #f8f9fb;
    padding: 5%;
  }

  .terceroM {
    width: 100vw;
    height: 65vh;
    background-color: #c1d1de;
    padding: 5%;
  }

  .cuartoM {
    width: 100vw;
    height: 60vh;
    background-color: #183e7c;
    text-align: center;
    padding: 6%;
  }

  footer {
    width: 100vw;
    height: 10vh;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
  }
}
