body{
    height: 6400px;
    width: 1920px;
    margin: 0;
    padding: 0;

}
.fab{
    color: white;
    font-size: 5vw;
}
.pAzul{
    color: #183E7C;
    font-size: 30px;
}

.pBlanco{
    color: #F8F9FB;
    font-size: 30px;
}

.pAzulclaro{
    color:#C1D1DE;
    font-size: 30px;
}

.tDorado{
    color: #E5C700;
    font-size: 56px;
}

.tBlanco{
    color: #F8F9FB;
    font-size: 56px;
}

.tAzul{
    color: #183E7C;
    font-size: 56px;
}

.tituloH{
    font-size: 113px;
    color: #183E7C;
}

.centraT{
    text-align: center;
}

.pCabecera1{
    margin-top: -70px;
    font-size: 32px;
    color: #183E7C;
}

.pCabecera{
    font-size: 32px;
    color: #183E7C;
}
.cabecera{
    height: 878px;
    width: 100%;
    background: #6491735e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DBD5A4, #64917362), url(../img/cimg1.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD5A4, #64917367), url(../img/cimg1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.leftC{
    height: 878px;
    width: 960px;
    padding: 56px 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    ;
    
}

.rightC{
    width: 960px;
    height: 878px;
}

.empatia{
    height: 3460px;
    width: 1920px;
    display: flex;
    flex-direction: column;
}

.primeroE{
    height: 1080px;
    width: 1920px;
    display: flex;
    flex-direction: row;
}

.conText1{
    width: 1160px;
    height: 905px;
    padding-left: 18%;
    padding-right: 2%;
    padding-top: 4%;
    position: relative;
    background-color: #183E7C;
    left: 560px;
    top: 39px;

}

.eImg1{
    background-image: url(../img/eImg1.jpg);
    width: 666px;
    height: 787px;
    position: relative;
    right: 973px;
    top: 125px;
}

.segundoE{
    height: 1080px;
    width: 1920px;
    display: flex;
}

.conText2{
    width: 1200px;
    height: 890px;
    background-color: #C1D1DE;
    position: relative;
    left: 190px;
    top: 94px;
    padding-top: 10%;
    padding-right:12%;
    padding-left: 2%;
}

.eImg2{
    width: 520px;
    height: 720px;
    background-image: url(../img/himg1.jpg);
    position: relative;
    top: 182px;
}

.terceroE{
    height: 640px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #183E7C;
    padding: 7%;
    text-align: center;
}

.cuartoE{
    width: 1920px;
    height: 760px;
    display: flex;
    flex-direction: row-reverse;
}

.conText4{
    width: 1096px;
    height: 644px;
    background-color: #C1D1DE;
    position: relative;
    right: 101px;
    top: 45px;
    padding-left: 7%;
    padding-top: 4%;
    padding-right: 2%;
}

.conImgX{
    background-image: url(../img/xoco.jpeg);
    width: 665px;
    height: 333px;
    position: relative;
    top: 119px;
}

.miMetodo{
    width: 1920px;
    height: 1940px;
    display: flex;
    flex-direction: column;
}

.centro{
    text-align: center;
}

.alineaLista{
    padding-top: 1%;
    padding-left: 25%;
}

.primeroM{
    width: 1920px;
    height: 600px;
    background-color: #183E7C;
    text-align: center;
    padding: 5%;
}

.segundoM{
    width: 1920px;
    height: 370px;
    background-color:#F8F9FB;
    padding: 2%;
}

.terceroM{
    width: 1920px;
    height: 450px;
    background-color:#C1D1DE;
    padding: 2%;
}

.cuartoM{
    width: 1920px;
    height: 520px;
    background-color:#183E7C;
    text-align: center;
    padding: 5%;
}


.redesSociales{
    background-color: rgba(17, 16, 16, 0.274);
    width: 1920;
    height: 200px;
    padding:2%;
    display: flex;
    justify-content: space-evenly;
}