@media screen and (max-width: 600px) and (min-width: 350px) {
  .todo {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: #f8f9fb;
  }

  .start {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fb;
  }

  .containerP1 {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    background-color: #f8f9fb;
  }

  .containerP1__left {
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fb;
  }

  .tituloI {
    width: 15vw;
    padding: 10vw 2vw 0;
  }

  .parrafosI {
    width: 75vw;
    padding-left: 3vw;
    padding: 2vw;
  }

  .containerP1__right {
    width: 30vw;
    height: 50vh;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fb;
    text-align: center;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
  }

  .containerP2 {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fb;
  }

  .containerP2__left {
    width: 100vw;
    height: 25vh;
    text-align: center;
    padding-top: 2vw;
  }

  .containerP2__right {
    padding: 0 5vw 0;
    width: 100vw;
    height: 25vh;
  }

  .desapareceIns {
    height: 100vh;
    width: 100vw;
    background-color: #f8f9fb;
    animation: oculto 1s forwards ease;
    -webkit-animation: oculto 1s forwards ease;
  }

  @keyframes oculto {
    from {
      margin-left: 0vw;
    }
    to {
      margin-left: -100vw;
    }
  }

  .test {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: blue;
  }

  .contenedor1 {
    width: 100vw;
    height: 70vh;
    background-color: thistle;
  }

  .contenedor2 {
    width: 100vw;
    height: 30vh;
    background-color: #183e7c;
    overflow: hidden;
  }

  .questionAsk {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  #contenedorAnima {
    display: flex;
    flex-direction: column;
    height: 1400vh;
    background-color: #f8f9fb;
  }

  button {
    background-color: rgba(255, 255, 255, 0.164);
    color: black;
    border: 2px solid #008cba;
  }


  button:hover {
    background-color: #008bba52;
  }

  button:active {
    animation: parpadea 3s;
    -webkit-animation: parpadea 3s ease-in;
  }

  @keyframes parpadea {
    0% {
      background-color: #008bba1f;
    }
    10% {
      background-color: #008cba;
    }
    20% {
      background-color: #008bba1c;
    }
    30% {
      background-color: #008cba;
    }
    40% {
      background-color: #008bba1c;
    }
    50% {
      background-color: #008cba;
    }
    60% {
      background-color: #008bba1f;
    }
    70% {
      background-color: #008cba;
    }
    80% {
      background-color: #008bba1f;
    }
    100% {
      background-color: #008cba;
    }
  }

  section {
    width: 100vw;
    height: 70vh;
    padding: 12vh 2vw 5vh;
    display: flex;
    flex-direction: column;
    color: #183e7c;
  }

  .textPreg {
    font-size: 3.5vw;
    font-family: "Roboto Mono", monospace;
    color: #183e7c;
  }
  i{
    font-size: 5vw;
    color: #183e7c;
  }
  .titulo{
    font-size: 6vw;
    color: #183e7c;
  }

  .tituloP{
    color: #e5c700; 
  }

  .ltAzulF{
    font-size: 5vw;
    color: #183e7c;
    text-align: center;
  }

  .subTitulo{
    font-size: 6vw;
    color: #183e7c;
  }

  .azul{
    color: #183e7c;
  }

  .scrollSiguiente1 {
    animation: siguiente1 1s ease forwards;
    -webkit-animation: siguiente1 1s ease forwards;
  }

  /*
  .scrollAnterior1 {
    animation: anterior1 1s forwards ease;
    -webkit-animation: anterior1 1s forwards ease;
  }

  */

  .scrollSiguiente2 {
    animation: siguiente2 1s forwards ease;
    -webkit-animation: siguiente2 1s forwards ease;
  }

  .scrollAnterior2 {
    animation: anterior2 1s forwards ease;
    -webkit-animation: anterior2 1s forwards ease;
  }

  .scrollSiguiente3 {
    animation: siguiente3 1s forwards ease;
    -webkit-animation: siguiente3 1s forwards ease;
  }

  .scrollAnterior3 {
    animation: anterior3 1s forwards ease;
    -webkit-animation: anterior3 1s forwards ease;
  }

  section {
    height: 100vh;
    padding: 12vh 2vw 5vh;
    display: flex;
    flex-direction: column;
  }

  @keyframes siguiente1 {
    from {
      margin-top: 0vh;
      opacity: 0;
    }

    to {
      opacity: 1;
      margin-top: -100vh;
    }
  }

  /*
  @keyframes anterior1 {
    from {
      margin-top: 0vh;
      opacity: 0;
    }
    to {
      margin-top: 0vh;
      opacity: 1;
    }
  }
*/
  @keyframes siguiente2 {
    from {
      margin-top: -100vh;
      opacity: 0;
    }
    to {
      margin-top: -200vh;
      opacity: 1;
    }
  }

  @keyframes anterior2 {
    from {
      margin-top: -100vh;
      opacity: 0;
    }
    to {
      margin-top: 0vh;
      opacity: 1;
    }
  }

  @keyframes siguiente3 {
    from {
      margin-top: -200vh;
      opacity: 0;
    }
    to {
      margin-top: -300vh;
      opacity: 1;
    }
  }

  @keyframes anterior3 {
    from {
      margin-top: -200vh;
      opacity: 0;
    }
    to {
      margin-top: -100vh;
      opacity: 1;
    }
  }

  .scrollSiguiente4 {
    animation: siguiente4 1s forwards ease;
    -webkit-animation: siguiente4 1s forwards ease;
  }

  .scrollAnterior4 {
    animation: anterior4 1s forwards ease;
    -webkit-animation: anterior4 1s forwards ease;
  }

  @keyframes siguiente4 {
    from {
      margin-top: -300vh;
      opacity: 0;
    }
    to {
      margin-top: -400vh;
      opacity: 1;
    }
  }

  @keyframes anterior4 {
    from {
      margin-top: -300vh;
      opacity: 0;
    }
    to {
      margin-top: -200vh;
      opacity: 1;
    }
  }

  .scrollSiguiente5 {
    animation: siguiente5 1s forwards ease;
    -webkit-animation: siguiente5 1s forwards ease;
  }

  .scrollAnterior5 {
    animation: anterior5 1s forwards ease;
    -webkit-animation: anterior5 1s forwards ease;
  }

  @keyframes siguiente5 {
    from {
      margin-top: -400vh;
      opacity: 0;
    }
    to {
      margin-top: -500vh;
      opacity: 1;
    }
  }

  @keyframes anterior5 {
    from {
      margin-top: -400vh;
      opacity: 0;
    }
    to {
      margin-top: -300vh;
      opacity: 1;
    }
  }

  .scrollSiguiente6 {
    animation: siguiente6 1s forwards ease;
    -webkit-animation: siguiente6 1s forwards ease;
  }

  .scrollAnterior6 {
    animation: anterior6 1s forwards ease;
    -webkit-animation: anterior6 1s forwards ease;
  }

  @keyframes siguiente6 {
    from {
      margin-top: -500vh;
      opacity: 0;
    }
    to {
      margin-top: -600vh;
      opacity: 1;
    }
  }

  @keyframes anterior6 {
    from {
      margin-top: -500vh;
      opacity: 0;
    }
    to {
      margin-top: -400vh;
      opacity: 1;
    }
  }

  .scrollSiguiente7 {
    animation: siguiente7 1s forwards ease;
    -webkit-animation: siguiente7 1s forwards ease;
  }

  .scrollAnterior7 {
    animation: anterior7 1s forwards ease;
    -webkit-animation: anterior7 1s forwards ease;
  }

  @keyframes siguiente7 {
    from {
      margin-top: -600vh;
      opacity: 0;
    }
    to {
      margin-top: -700vh;
      opacity: 1;
    }
  }

  @keyframes anterior7 {
    from {
      opacity: 0;
      margin-top: -600vh;
    }
    to {
      opacity: 1;
      margin-top: -500vh;
    }
  }

  .scrollSiguiente8 {
    animation: siguiente8 1s forwards ease;
    -webkit-animation: siguiente8 1s forwards ease;
  }

  .scrollAnterior8 {
    animation: anterior8 1s forwards ease;
    -webkit-animation: anterior8 1s forwards ease;
  }

  @keyframes siguiente8 {
    from {
      opacity: 0;
      margin-top: -700vh;
    }
    to {
      opacity: 1;
      margin-top: -800vh;
    }
  }

  @keyframes anterior8 {
    from {
      opacity: 0;
      margin-top: -700vh;
    }
    to {
      opacity: 1;
      margin-top: -600vh;
    }
  }

  .scrollSiguiente9 {
    animation: siguiente9 1s forwards ease;
    -webkit-animation: siguiente9 1s forwards ease;
  }

  .scrollAnterior9 {
    animation: anterior9 1s forwards ease;
    -webkit-animation: anterior9 1s forwards ease;
  }

  @keyframes siguiente9 {
    from {
      opacity: 0;
      margin-top: -800vh;
    }
    to {
      opacity: 1;
      margin-top: -900vh;
    }
  }

  @keyframes anterior9 {
    from {
      opacity: 0;
      margin-top: -800vh;
    }
    to {
      opacity: 1;
      margin-top: -700vh;
    }
  }

  .scrollSiguiente10 {
    animation: siguiente10 1s forwards ease;
    -webkit-animation: siguiente10 1s forwards ease;
  }

  .scrollAnterior10 {
    animation: anterior10 1s forwards ease;
    -webkit-animation: anterior10 1s forwards ease;
  }

  @keyframes siguiente10 {
    from {
      opacity: 0;
      margin-top: -900vh;
    }
    to {
      opacity: 1;
      margin-top: -1000vh;
    }
  }

  @keyframes anterior10 {
    from {
      opacity: 0;
      margin-top: -900vh;
    }
    to {
      opacity: 1;
      margin-top: -800vh;
    }
  }

  .scrollSiguiente11 {
    animation: siguiente11 1s forwards ease;
    -webkit-animation: siguiente11 1s forwards ease;
  }

  .scrollAnterior11 {
    animation: anterior11 1s forwards ease;
    -webkit-animation: anterior11 1s forwards ease;
  }

  @keyframes siguiente11 {
    from {
      opacity: 0;
      margin-top: -1000vh;
    }
    to {
      opacity: 1;
      margin-top: -1100vh;
    }
  }

  @keyframes anterior11 {
    from {
      opacity: 0;
      margin-top: -1000vh;
    }
    to {
      opacity: 1;
      margin-top: -900vh;
    }
  }

  .scrollSiguiente12 {
    animation: siguiente12 1s forwards ease;
    -webkit-animation: siguiente12 1s forwards ease;
  }

  .scrollAnterior12 {
    animation: anterior12 1s forwards ease;
    -webkit-animation: anterior12 1s forwards ease;
  }

  @keyframes siguiente12 {
    from {
      opacity: 0;
      margin-top: -1100vh;
    }
    to {
      opacity: 1;
      margin-top: -1200vh;
    }
  }

  @keyframes anterior12 {
    from {
      opacity: 0;
      margin-top: -1100vh;
    }
    to {
      opacity: 1;
      margin-top: -1000vh;
    }
  }

  .scrollSiguiente13 {
    animation: siguiente13 1s forwards ease;
    -webkit-animation: siguiente13 1s forwards ease;
  }

  .scrollAnterior13 {
    animation: anterior13 1s forwards ease;
    -webkit-animation: anterior13 1s forwards ease;
  }

  @keyframes siguiente13 {
    from {
      opacity: 0;
      margin-top: -1200vh;
    }
    to {
      opacity: 1;
      margin-top: -1300vh;
    }
  }

  @keyframes anterior13 {
    from {
      opacity: 0;
      margin-top: -1200vh;
    }
    to {
      opacity: 1;
      margin-top: -1100vh;
    }
  }
/*
  .scrollSiguiente14 {
    animation: siguiente14 1s forwards ease;
    -webkit-animation: siguiente14 1s forwards ease;
  }
*/
  .scrollAnterior14 {
    animation: anterior14 1s forwards ease;
    -webkit-animation: anterior14 1s forwards ease;
  }
/*
  @keyframes siguiente14 {
    from {
      opacity: 0;
      margin-top: -1300vh;
    }
    to {
      opacity: 1;
      margin-top: -1300vh;
    }
  }
  */

  @keyframes anterior14 {
    from {
      opacity: 0;
      margin-top: -1300vh;
    }
    to {
      opacity: 1;
      margin-top: -1200vh;
    }
  }

  .instrucciones{
    width: 100vw;
    height: 15vh;
    padding: 3vw 1vw 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
    
  }

  .titiuloEnviar{
    color: #e5c700;
    font-size: 5vw;

  }

  .pHor{
    color: #f8f9fb;
    font-size: 3vw;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    
}



  .resultadoTest{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #btnResultado{
    background-color: rgba(255, 255, 255, 0.205);
    color: #e5c700;
  }
}



/*

*/
