body{
    margin: 0px;
    font-family: 'Mulish', sans-serif;
}

.ltDorado{
    color: #e5c700;
}
.ltAzulF{
    color: #183e7c;
    font-size: 1.5vw;
}

.ltBlanco{
    color: #f8f9fb;
}
.ltAzulC{
    color: #c1d1de;
}

.letraP{

}
.fab{
    color: white;
    font-size: 10vw;
}
.contenedorResultado{
    width: 100vw;
    height: 175vh;
   
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}
.contenedorResultado_primero{
    width: 100vw;
    height: 10vh;
    
    background-color: #f8f9fb;
    padding:2vw;
    text-align: center;  
}

.contenedorResultado_segundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 25vh;
    background-color: #183e7c;
    text-align: center;
    
}
.centrado{
    text-align: center;
}

.contenedorResultado_tercero{
    width: 150vw;
    height: 100vh;
    background-color: #f8f9fb;
    padding-left: 4vw;
    overflow: hidden;
}

.contenedorResultado_cuarto{
    width: 100vw;
    height: 40vh;
    background-color: #183e7c;
    padding:2vw;
    text-align: center;
    
}