body {
  margin: 0px;
  font-family: "Mulish", sans-serif;
}

@media screen and (max-width: 1920px) and (min-width: 601px) {
  h1 {
    font-family: "Nunito Sans", sans-serif;
  }
  .ltDorado {
    color: #e5c700;
  }
  .ltAzulF {
    color: #183e7c;
    font-size: 1.5vw;
  }

  .ltBlanco {
    color: #f8f9fb;
  }
  .ltAzulC {
    color: #c1d1de;
  }

  .letraP {
  }
  .fab {
    color: white;
    font-size: 5vw;
  }
  .contenedorResultado {
    width: 100vw;
    height: 250vh;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .contenedorResultado_primero {
    height: 25vh;
    background-color: #f8f9fb;
    padding: 1vw;
    text-align: center;
  }

  .contenedorResultado_segundo {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #183e7c;
    text-align: center;
  }
  .centrado {
    text-align: center;
  }

  .contenedorResultado_tercero {
    height: 130vh;
    background-color: #f8f9fb;
    padding: 5vw;
    overflow: hidden;
  }

  .contenedorResultado_cuarto {
    height: 40vh;
    background-color: #183e7c;
    padding: 2vw;
    text-align: center;
  }
}
